{% extends "base_us.html" %}
{% block title %}
    Alumnos
{% endblock %}

{% block content %}
<div class="container card mb-3">
    <h2 class="app-page-title">Alumnos</h2>
    <table class="table">
        <thead>
            <th>Nombre Alumno</th>
            <th>Acción</th>
        </thead>
        <tbody>
            {% for alumnos in object_list %}
            <tr>
                <td>{{alumnos.nombre}}</td>
                <td>
                    <a href="" class="btn btn-info">Ver</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
