{% extends "base_us2.html" %}
{% block title %}
    Alumnos
{% endblock %}

{% block content %}
    <header class="masthead2">
    <div class="container card mb-3 " style="width: 30rem; background:whitesmoke" >
        <div class="text-center">
            </br>
            <h1>Registro</h1>
            <div class="a">
                <form id="formulario" method="post">
                    {% csrf_token %}
                    <div class="field_container">
                        <input type="text" name="nombre" id="" disabled readonly value="{{request.user.first_name}}">
                    </div>
                    <div class="field_container">
                        <input type="text" name="nombre" id="" disabled readonly value="{{request.user.last_name}}">
                    </div>
                    <div class="field_container">
                        <input type="text" name="nombre" id="" disabled readonly value="{{request.user.email}}">
                    </div>
                    {% for field in form %}

                    <div class="field_container">
                        </br>
                        {{field.label_tag}} </br>
                        {{field}}
                    </div>
                    {% endfor %}
                        </br>
                        <button type="submit" class="btn btn-success">Siguiente</button>
                </form>

            </div>
        </div>
    </div>

    </header>
{% endblock %}