{% extends "base_us2.html" %}
{% block title %}
    Posgrado
{% endblock %}

{% block content %}
<header class="masthead2">
    <div class="container" >
       <div class="jumbotron">
           <h3 >Encuesta Alumno Posgrado:</h3>
           <div class="jumbotron card mb-3" style="background:whitesmoke">
                <div class="a">
                    <form id="formulario4" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="field_container">
                            </br>
                            {{field.label_tag}} </br>
                            {{field}}
                        </div>
                        {% endfor %}
                        <div>
                            </br>

                            <button type="submit" class="btn btn-success">Finalizar</button>

                        </div>
                    </br>
                    </form>

                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}