{% extends "base_bootstrap.html" %}
{% block navbar %}


<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container px-5">
        <a class="navbar-brand" href="{% url 'eduacionapp:home' %}">Vinculación UAZ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    {% if request.user.groups.all.0.name == "alumno_rec_egresado" or request.user.groups.all.0.name == "alumno" or request.user.groups.all.0.name == "posgrado_alumno" or request.user.groups.all.0.name == "posgrado_alumnoRecienE" or request.user.is_staff%}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'eduacionapp:veralumno' user.id%}">{{ user.get_username }}</a>
                        </li>
                    {% endif %}
                    {% if request.user.groups.all.0.name == "empleador" %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'eduacionapp:verempresa' user.id%}">{{ user.get_username }}</a>
                        </li>

                    {% endif %}
                     <a class="navbar-brand" href="{% url 'eduacionapp:logout' %}?next={% url 'eduacionapp:login' %}">- Cerrar sesión</a>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'eduacionapp:login' %}?next={{request.path}}">Iniciar sesión</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}