{% extends "base_us2.html" %}
{% block title %}
Vinculación :: UAZ
{% endblock %}

{% load static %}

{% block content %}

<!-- Cosas que muestra para el administrador  -->
{% if request.user.is_staff %}
<br>
<br>
<br>
    <div class="sb-nav-fixed">
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Administrador</div>
                            <a class="nav-link" href="{% url 'eduacionapp:home' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Inicio
                            </a>
                            <div class="sb-sidenav-menu-heading">Documentos</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Encuestas
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="layout-static.html">Libro Dicotómico</a>

                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Reportes
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Generar
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Consultar
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html"></a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Reportes</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Gráficas
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Usuarios
                            </a>
                        </div>
                    </div>

                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Administración del Sistema</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Seguimiento de Egresados y Empleadores - UAZ</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Alumnos Recien Egresados Licenciatura</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-info text-white mb-4">
                                    <div class="card-body">Alumnos Recien Egresados Posgrado</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Alumnos Egresados Licenciatura y Posgrado</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Empleadores</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Area Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Bar Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

            </div>
        </div>
    </div>




{% elif request.user.is_authenticated %}


    <!-- Cosas que muestra para el alumno  -->
        {% if request.user.groups.all.0.name == "alumno_rec_egresado" %}
        <br>
            <br>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{%  static 'images/uazgraduados.jpg'%}" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Recien Egresado:</h2>
                            <p>La Universidad Autónoma de Zacatecas, a través de su área de Vinculación
                                quiere saber tu opinión sobre la experiencia que has vivido como estudiante, en la máxima
                                casa de estudios Zacatecana.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-md-6 offset-md-3">
            <div class="card-deck">
                <div class="card text-center bg-light mb-3">
                    <img class="card-img-top" src="{% static 'images/graduados.jpg'%}" alt="A Egresar" width="50%" height="40%">
                    <div class="card-body">
                        <h5 class="card-title">Encuesta Recien Egresado Licenciatura</h5>
                        <p class="card-text">¿Acabas o estas a punto de terminar tu carrera? ¡Contesta la encuesta ahora!.</p>
                    </div>
                    <div class="card-footer bg-transparent">
                        <a class="btn btn-success " href="{% url 'encuestas:datos' %}">Iniciar Encuesta</a>
                    </div>
                </div>

            </div>
        </div>


        {% endif %}

        {% if request.user.groups.all.0.name == "posgrado_alumno" %}
       <br>
            <br>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{%  static 'images/empleador.jpg'%}" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Egresado de Posgrado:</h2>
                            <p>La Universidad Autónoma de Zacatecas, a través de su área de Vinculación
                                quiere saber tu perspectiva sobre la experiencia laboral que has adquirido con el pasar de los
                                años. Es importante para la Máxima Casa de Estudios Zacatecana, conocer tu opinión.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-md-6 offset-md-3">
            <div class="card-deck">
                <div class="card text-center bg-light mb-3">
                    <img class="card-img-top" src="{% static 'images/med.jpg'%}" alt="A Egresar Posgrado" width="50%" height="45%">
                    <div class="card-body">
                        <h5 class="card-title">Encuesta Egresado Posgrado</h5>
                        <p class="card-text">¿Llevas algunos años integrado en el campo laboral? ¡Contesta la encuesta ahora!</p>
                    </div>
                    <div class="card-footer bg-transparent">
                        <a class="btn btn-success " href="{% url 'encuestas:datos' %}">Iniciar Encuesta</a>
                    </div>
                </div>

            </div>
        </div>
        {% endif %}

        {% if request.user.groups.all.0.name == "posgrado_alumnoRecienE" %}
       <br>
            <br>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                          <div class="p-5"><img class="img-fluid rounded-circle" src="{%  static 'images/uazgraduados.jpg'%}" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Recien Egresado:</h2>
                            <p>La Universidad Autónoma de Zacatecas, a través de su área de Vinculación
                                quiere saber tu opinión sobre la experiencia que has vivido como estudiante, en la máxima
                                casa de estudios Zacatecana.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-md-6 offset-md-3">
            <div class="card-deck">
                <div class="card text-center bg-light mb-3">
                    <img class="card-img-top" src="{% static 'images/graduada_pos.jpg'%}" alt="A Egresar Posgrado" width="50%" height="40%">
                    <div class="card-body">
                        <h5 class="card-title">Encuesta Recien Egresado Posgrado</h5>
                            <p class="card-text">¿Acabas o estas a punto de terminar tu posgrado? ¡Contesta la encuesta ahora!.</p>
                    </div>
                    <div class="card-footer bg-transparent">
                        <a class="btn btn-success " href="{% url 'encuestas:datos' %}">Iniciar Encuesta</a>
                    </div>
                </div>

            </div>
        </div>
        {% endif %}


        {% if request.user.groups.all.0.name == "empleador" %}
            <br>
            <br>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{%  static 'images/empleador.jpg'%}" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Empleador:</h2>
                            <p>La Universidad Autónoma de Zacatecas, a través de su área de Vinculación
                                quiere saber tu opinión sobre la experiencia que has vivido como empleador de los egresados
                                de la máxima casa de estudios Zacatecana.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-md-6 offset-md-3">
            <div class="card-deck">
                <div class="card text-center bg-light mb-3">
                    <img class="card-img-top" src="{% static 'images/empleadores.jpg'%}" alt="A Egresar Posgrado" width="50%" height="45%">
                    <div class="card-body">
                        <h5 class="card-title">Encuesta Empleadores</h5>
                        <p class="card-text">¿Tienes de empleado a algún egresado de la UAZ? ¡Contesta la encuesta ahora!</p>
                    </div>
                    <div class="card-footer bg-transparent">
                        <a class="btn btn-success " href="{% url 'encuestas:empleadores' %}">Iniciar Encuesta</a>
                    </div>
                </div>

            </div>
        </div>
        {% endif %}

        {% if request.user.groups.all.0.name == "alumno" %}
        <br>
            <br>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{%  static 'images/empleador.jpg'%}" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Egresado:</h2>
                            <p>La Universidad Autónoma de Zacatecas, a través de su área de Vinculación
                                quiere saber tu perspectiva sobre la experiencia laboral que has adquirido con el pasar de los
                                años. Es importante para la Máxima Casa de Estudios Zacatecana, conocer tu opinión.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-md-6 offset-md-3">
            <div class="card-deck">
                <div class="card text-center bg-light mb-3">
                    <img class="card-img-top" src="{% static 'images/godin.jpg'%}" alt="A Egresar Posgrado" width="50%" height="45%">
                    <div class="card-body">
                        <h5 class="card-title">Encuesta Egresados Licenciatura</h5>
                        <p class="card-text">¿Llevas algunos años integrado en el campo laboral? ¡Contesta la encuesta ahora!</p>
                    </div>
                    <div class="card-footer bg-transparent">
                        <a class="btn btn-success " href="{% url 'encuestas:datos' %}">Iniciar Encuesta</a>
                    </div>
                </div>

            </div>
        </div>

        {% endif %}



{% else %}
<header class="masthead text-center text-black">
        <div class="masthead-content">
            <div class="container px-5">
                <h1 class="masthead-heading mb-0" id="letrablanca">En Vinculación UAZ</h1>
                <h2 class="masthead-subheading mb-0" id="letrablanca">¡Queremos conocer tu opinión!</h2>
                <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Descubre más</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>

    </header>
    <section id="scroll">
        <div class="container">
            <div class="p-1">
                <div class="jumbotron">
                    <h2 class="display-4">Platícanos tu experiencia</h2>
                    <div class="p-1">
                        <div class="row container">
                            <div class="col-md-6 offset-md-3 ">
                                <p class="lead">La Universidad Autónoma de Zacatecas, a través de su área de Vinculación,
                                            quiere saber tu opinión sobre la escuela.
                                            Si eres un estudiante a punto de terminar sus estudios, un alumno ya egresado
                                            o si eres empleador. Nos interesa mucho conocer tu opinión.
                                </p>
                                <hr class="my-4">
                                    {% if user.is_authenticated %}
                                        <div class="col-md-5 offset-4">
                                            <a class="btn btn-primary btn-lg " href="{% url 'eduacionapp:home' %}" role="button">Continuar</a>
                                        </div>
                                    {% else %}
                                        <div class="col-md-9 offset-3">
                                        <a class="btn btn-primary btn-lg" href="{% url 'eduacionapp:login' %}" role="button">Inicia Sesión y Contesta ahora</a>
                                         </div>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endif %}

    {% block js %}
 <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock %}
{% endblock %}
