{% extends "base_us.html" %}
{% block title %}
    Login
{% endblock %}
{% load static %}
<style>
    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
    }
</style>
{% block content %}
    <div class="container card mb-3" style="width: 18rem;">
        <br>
        <img src="{% static 'images/uaz.jpg' %} " class="card-img   d-flex justify-content-center" alt="Card image cap">
        <br>
        
        {% if form.errors %}
        <div class="alert alert-danger">
            <p>Verifica las credenciales</p>
        </div>
        {% endif %}

        
        {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        </div>
            
        {% endif %}
            
            
        <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3 justify-content-center">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                {{ form.username }}
            </div>
            <div class="input-group mb-3 justify-content-center">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                {{ form.password }}
            </div>
            {% if user.is_anonymous %}
                <div class="d-flex justify-content-center mt-3 login_container">
                    <input class="btn btn-light" type="submit" value="Acceder" href="{% url 'eduacionapp:home' %}">
                </div>
            {% endif %}
            <a class="d-flex card-text justify-content-center mt-3 login_container" href="#">¿Olvidaste tu contraseña?</a>
            <a class="d-flex card-text justify-content-center mt-3 login_container"  href="{% url 'eduacionapp:registro' %}">Registrate</a>

        </form>
        <br>
    </div>


{% endblock %}
