{% extends "base_us2.html" %}
{% block title %}
Registro :: UAZ
{% endblock %}

{% load static %}

{% block content %}

    <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Registrate en nuestra plataforma</h1>
                            <p class="lead text-white-50 mb-4">Selecciona el tipo de usuario que mejor te identifique.</p>

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Features section-->

        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-2 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h4 fw-bolder">Alumno a punto de egresar</h2>

                        <a class="text-decoration-none" href="{% url 'eduacionapp:registro_alumno_recEgresado' %}">
                            Alumno de Licenciatura
                            <i class="bi bi-arrow-right"></i>
                        </a>
                        <br>
                        <a class="text-decoration-none" href="{% url 'eduacionapp:registro_alumnorecien_posgrado' %}">
                            Alumno de Posgrado
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h4 fw-bolder">Alumno con tiempo de egresado</h2>
                        <a class="text-decoration-none" href="{% url 'eduacionapp:registro_alumno' 'alumno' %}" id="exalumnoboton">
                            Ex Alumno de Licenciatura
                            <i class="bi bi-arrow-right"></i>
                        </a>
                        <br>
                        <a class="text-decoration-none" href="{% url 'eduacionapp:registro_alumno_posgrado' %}" id="exalumnoposgradoboton">
                            Ex Alumno de Posgrado
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-briefcase-fill"></i></div>
                        <h2 class="h4 fw-bolder">Empleador</h2>
                        <a class="text-decoration-none" href="{% url 'eduacionapp:registro_empleador' %}">
                            Empresa/Organización Empleadora
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>


    {% block js %}
 <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    {% endblock %}
{% endblock %}
