{% extends "base_us.html" %}
{% block title %}
    Registrar Nuevo Usuario
{% endblock %}

{% block content %}
    <div class="container card mb-3" style="width: 30rem;">
    <div class="sign-form ">
        <br>
     <form method="post">
      {% csrf_token %}
      <div class="input-group mb-3 ">
                <div class="input-group-append">
                    <span class="input-group-text">Usuario:</span>
                </div>
                {{ form.username }}
            </div>
         <div class="input-group mb-3 ">
                <div class="input-group-append">
                    <span class="input-group-text">Nombre de Empresa:</span>
                </div>
                {{ form.first_name }}
            </div>
         <div class="input-group mb-3 ">
                <div class="input-group-append">
                    <span class="input-group-text">Correo:</span>
                </div>
                {{ form.email }}
            </div>
         <p class="d-flex card-text mt-3 login_container"> ° La contraseña debe de tener de mínimo 8 caracteres</p>
         <p class="d-flex card-text mt-3 login_container"> ° La contraseña debe no debe de ser completamente numérica</p>
         <div class="input-group mb-3 ">
                <div class="input-group-append">
                    <span class="input-group-text">Nueva contraseña:</span>
                </div>
                {{ form.password1 }}
            </div>
         <div class="input-group mb-3 ">
                <div class="input-group-append">
                    <span class="input-group-text">Confirma contraseña:</span>
                </div>
                {{ form.password2 }}
            </div>
     <div class="d-flex justify-content-center mt-3 login_container">
      <button class="btn  btn-success" type="submit" id="agregausuario">Agregar</button>
     </div>
      <a class="d-flex card-text justify-content-center mt-3 login_container"  href="{% url 'eduacionapp:login' %}">Accede con una cuenta</a>
     </form>
    </div>
    </div>
{% endblock %}