{% extends "base_us.html" %}
{% block title %}
Vinculación :: UAZ
{% endblock %}

{% load static %}

{% block content %}

<!-- Cosas que muestra para el administrador  -->
{% if request.user.is_staff %}

{% else %}
    {% if user.is_authenticated %}


    <!-- Cosas que muestra para el alumno  -->
        {% if request.user.groups.all.0.name == "alumno_rec_egresado" %}
            <p>Cuestionario para alumno recien egresado</p>
        {% endif %}
        {% if request.user.groups.all.0.name == "empleador" %}
            <p>Cuestionario para Empleador</p>

        {% endif %}

        {% if request.user.groups.all.0.name == "alumno" %}

            <p>Cuestionario para Alumno</p>

        {% endif %}

    {% endif %}
{% endif %}
    {% block js %}
 <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock %}
{% endblock %}
