{% extends "base_us.html" %}
{% block title %}
Confirmar Eliminar Usuario
{% endblock %}

{% load static %}

{% block content %}
<br>
<div class="container card mb-3 " style="width: 30rem; background:whitesmoke" >
    <div class="text-center">
        <form method="post">
        {% csrf_token %}
        <p>¿Quieres eliminar el usuario "{{ object }}"?</p>
        <input  class="btn btn-danger" type="submit" value="Eliminar">
        <a class="btn btn-success" href="{% url 'eduacionapp:home' %}">Cancelar</a>
    </form>
    </div>

</div>

{% endblock %}

