{% extends "base_us.html" %}
{% block title %}
Vinculación :: UAZ
{% endblock %}

{% load static %}

{% block content %}
<div class="container card mb-3 " style="width: 30rem; background:whitesmoke" >
    <div class="text-center">
        <h2>Editar  Usuario</h2>
        <div class="a">
            <form id="formulario" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="field_container">
                    </br>
                    {{field.label_tag}} </br>
                    {{field}}
                </div>
                {% endfor %}
                <div>
                    </br>
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a href="{% url 'eduacionapp:home'%}" class="btn btn-danger">Cancelar</a>
                    
                </div>
            </br>
            </form>
            
        </div>
    </div>
</div>
    
{% endblock %}