{% extends "base_us.html" %}
{% block title %}
Vinculación :: UAZ
{% endblock %}

{% load static %}

{% block content %}

<main class="container">
    <div class="jumbotron">
        <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" id="nav-editar-tab" href="#">Editar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="nav-eliminar-tab" href="{% url 'eduacionapp:eliminarusuario' user.id %}" >Eliminar</a>
              </li>

            </ul>
          </div>
          <div class="card-body">
            <h2 class="card-title">Detalle de Usuario</h2>
              <div class="a">Usuario</div>
              {{user.username}}
              <div class="a">Nombre de {{ etiquetatipousuario }}:</div>
              {{user.first_name}} {{user.last_name}}
              <br>
              <div class="a">Correo:</div>
              {{user.email}}
              <br>

              <a href="{% url 'eduacionapp:editar' user.id%}" class="btn btn-success">Editar</a>
              <a href="{% url 'eduacionapp:home'%}" class="btn btn-danger">Cancelar</a>


          </div>
        </div>
    </div>
</main>



{% endblock %}